.container-fluid
{
    padding:0px !important;
    margin: 0px !important;
}

.color-title
{
    color:#ce8f4f;
}
.title-text {
	padding-top: 20vw;
	padding-bottom: 30px;
}
/*     Navbar    */

.navbar-container .nav-item a
{
    color:white !important;
}

.navbar-fixed-top.scrolled {
	background-color: black !important;
	transition: background-color 200ms linear;
}

.dropdown-menu{
    background-color: #222;
}

.dropdown-item:focus ,.dropdown-item:hover{
    color: white;
    text-decoration: underline;
    background-color: unset;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

/*     Home Page    */

/*     Top - Bottom slider    */

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,100%, 0);
    transform: translate3d(0,100%, 0);
}

.carousel-item{
	height:700px ;
}

.slider1, .slider2, .slider3
{
	position:relative
}

.slider1{
	height: 700px;
    background-image: url(../images/slider-digital-agency-slide-01-bg.jpg)
}
.slider2{
	height: 700px;
    background-image: url(../images/slider-digital-agency-slide-02-bg.jpg)
}
.slider3{
	height: 700px;
    background-image: url(../images/slider-digital-agency-slide-03-bg.jpg)
}
.polygonshape{
	height: 100%;
	clip-path: polygon(0 0, 53% 0, 29% 100%, 0% 100%);
	background-color:rgb(38, 27, 197,0.5);
	animation: slider-1 1s ease-in;
}
.polygonshape1{
	height: 100%;
	clip-path: polygon(46% 0, 100% 0, 100% 100%, 75% 100%);
	background-color:rgb(38, 27, 197,0.5);
	animation: slider-2 1s ease-in;
}
.space{
	margin-top: 30px;
}
@keyframes slider-1{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes slider-2{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}

.slider1 .slider-detail, .slider3 .slider-detail{
	position: absolute;
	top: 300px;
	color:white;
	animation: slider-1-text 1s linear;
}
@keyframes slider-1-text{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}

.slider2 .slider-detail{
	position: absolute;
	top: 300px;
	color:white;
	animation: slider-2-text 1s linear;
}
@keyframes slider-2-text{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}

.slider-detail h2{
	font-size:60px;
}
.service-block, .reson-why-block{
	transition: all .3s cubic-bezier(.645,.045,.355,1);
	position: relative;
}

.service-block h5{
	color:black !important;
}

.service-block a:hover {
	text-decoration: none !important;
}

.service-block:hover , .reson-why-block:hover {
	transform: translateY(-10px);
	text-decoration: none !important;
}

.space{
	margin-top: 80px !important;
}

/* Footer */

footer {
    background: #000000;
	padding: 35px 0 20px 0;
	color:white;
}

.footer-company {
    margin-bottom: 5px;
    font-weight: 500;
	font-size: 15px;
}	

.footer-address {
    margin-bottom: 0;
    font-weight: lighter;
    font-size: 15px;
}

.footer-phone {
    margin-bottom: 0;
    margin-top: 0px;
    margin-left: 0px;
    text-align: right;
}

.footer-alegada {
    opacity: 0.5;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
    text-align: right;
}
/*Interior design*/

.interior-back{
	position: relative;
	background-image: url(../images/design_background.png);
	background-size: cover;
}

/*Graphics design*/

.graphic-back{
	position: relative;
	background-image: url(../images/design_background.png);
	background-size: cover;
}

.modal-header, .modal-footer{
	border: none !important;
}

/*Event design*/

.event-back{
	position: relative;
	background-image: url(../images/banner_marketing.png);
	background-size: cover;
}
.event-hendling img{
	margin: 200px 0px;

}

/*Contact us*/

.pt-300{
	padding-top: 300px;
}
.pb-300{
	padding-bottom: 300px;
}
.bg_image--55{
	background-image: url(../images/bg-image-55.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.breadcrumb-title-white{
	color: #fff;
}

/*contact-modern*/
.pb--120{
	padding-bottom: 120px;
}
.pr--50{
	padding-right: 50px;
}
.space_dec--100{
	margin-top: -100px;
}
.pr--60{
	padding-right: 60px;
}
.pl--60{
	padding-left: 60px;
}
.pb--120{
	padding-bottom: 120px;
}
.pt--120{
	padding-top: 120px;
}
.bg_color--18{
	background-color: #000;
}
.mt--60{
	margin-top: 60px;
}
.heading-h4{
	font-size: 24px;
}
.mt--15{
	margin-top: 15px;
}
.line-height-2-22{
	line-height: 2.22px;
}
.bk_pra{
	margin-bottom: 0;
	max-width: 100%;
	font-weight: 500;
	font-size: 14px;
}
.mt--60{
	margin-top: 60px;
}
.mb--30{
	margin-bottom: 30px;
}
.mt--15{
	margin-top: 15px;
}

.social-transparent{
	background: 0;
}
.social-share a{
	color: #fff;
}
.pl--50{
	padding-left: 50px;
}
form{
	margin: 0;
}
.contact-form input{
	color: #777;
	border-color: #eee;
	background-color: #fff;
	width: 100%;
	outline: 0;
	border: 1px solid #eee;
	border-radius: 0;
	padding: 3px 20px;
	height: 62px;
}
.mt--30{
	margin-top: 30px;
}
.contact-form textarea{
	color: #777;
	border-color: #eee;
	background-color: #fff;
	height: 150px;
	width: 100%;
	outline: 0;
	border: 1px solid #eee;
	border-radius: 0;
	padding: 120px 20px 30px;
	max-width: 100%;
}
.contact-form
input[type=checkbox]{
	width: auto;
	height: auto;
	background-color: transparent;
	border-radius: 0;
	line-height: 23px;
	padding: 10px 20px;
	font-size: 14px;
	color: #151515;	
}
.contact-form input{
	outline: 0;
}
.contact-form label{
	position: relative;
	padding-left: 10px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #252525;
	margin: 0;
}
.contact-form
input[type=submit]{
	padding: 0 41px;
	height: 55px;
	line-height: 53px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	border-radius: 6px;
	border-color: #0038e3;
	background-color: #0038e3;
}
    /*Eventplanning*/
.event_back{
	background-image: url(../images/banner_marketing.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.col-md-6{
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}
.line{
	height: 100%;
	padding: 20px 0;
}
.img-fluid{
	height: 100%;
}


      /*Case Studies*/

.case-back{
	position: relative;
	background-image: url(../images/banner_marketing.png);
	background-size: cover;
}
.case-hendling img{
	margin: 50px 0px;
}

/*Web development*/

.web_development-back{
	position: relative;
	background-image: url(../images/banner_design_solutions.png);
	background-size: cover;
}
.web-hendling img{
	margin: 50px 0px;
}
.web{
	display: inline-flex;
	width: 100%;
		margin-left: 125px;
		margin-top: 20px;
}
.web-1{
	width: 26%;
}

/*our client*/

#client{
	height: 1520px;
	background-color: white;
	margin-bottom: 4%;
	padding-top: 2%;
}
#our_client{
	max-width: 1200px;
	margin: auto;
	background: #f2f2f2;
	overflow: auto;
}
.gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 100px;
}
.gallery img{
	width: 100%;
	height: auto;
}
